ul:nth-child(3),ul:nth-child(2),ul:nth-child(5),ul:nth-child(6),ul:nth-child(7)
{
    list-style-type: disc;
}

body
{
    background-image:url(../images/cinema.jpg);
    background-size: cover;
    padding: 32px;
}

strong
{
    color: yellowgreen;
    list-style: none;
    font-size: 25px;
}

li:nth-child(1),li:nth-child(4),li:nth-child(5),li:nth-child(9)
{
    list-style: upper-latin;
}

h1
{
    color: white;
}

ol
{
    color: white;
}